<template>
  <div class="welcome container">
    <div class="card">
      <div class="card-content center-align">
        <h2 class="teal-text">
          <form @submit.prevent="enterChat">
            <label for="name">Enter your name:</label>
            <input type="text" name="name" v-model="name">
            <p v-if="feedback" class="red-text">{{ feedback }}</p>
            <button class="btn teal">Enter chat</button>
          </form>
        </h2>
      </div>
    </div>    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      name: null,
      feedback:null
    }
  },
  methods:{
    enterChat(){
      if(this.name){
        this.$router.push({name: 'Chat', params: {name:this.name} })
      }else{
        this.feedback = "you must enter a name to login"
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.welcome{
  max-width: 400px;
  margin-top: 100px;
}

.welcome h2 {
  font-size:3m;
}
.welcome button{
  margin: 30px auto;
}
</style>
